version: '3.8'

services:
{% for service in services %}
  {{ service.name }}:
    build:
      context: ./{{ service.name }}
      dockerfile: Dockerfile
    environment:
      - PYTHONPATH=/app
      - FLASK_ENV=development
    ports:
      - "500{{ loop.index }}:5000" # Автоматический проброс портов 5001, 5002...
    networks:
      - app-network

{% endfor %}

networks:
  app-network:
    driver: bridge